extends ../layouts/app

block content
  .col-sm-9.col-md-7.col-lg-5.mx-auto
    .card.card-signin.my-5
      .card-body
        h1.text-center.login-title Forgot Password

        .account-wall
          form(class='form-signin', action='/forgot', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            p Enter your email address below and we will send you password reset instructions.
            input(type='email', name='email', class='form-control', placeholder='Email', autofocus, required)
            button(class='btn btn-lg btn-primary btn-block', type='submit')
                i.fas.fa-user-shield
                |  Reset Password
            span.clearfix
