#message.text-left.lead
    if messages.errors
        .alert.alert-danger.alert-dismissible(role='alert')
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            for error in messages.errors
                div= error.msg
    if messages.info
        .alert.alert-info.alert-dismissible(role='alert')
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            for info in messages.info
                div= info.msg
    if messages.warning
        .alert.alert-warning.alert-dismissible(role='alert')
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            for warning in messages.warning
                div= warning.msg
    if messages.success
        .alert.alert-success.alert-dismissible(role='alert')
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            for success in messages.success
                div= success.msg



